#bg-image {
    background-image: url('firework.jpg');
    min-height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(2px);
    z-index: -1;
}     

label {
    font-size: 24px;

}


#search-form {
    margin-top: 100px;
    margin-right: 100px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    z-index: 0;
    border-radius: 10px;

}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 6px 6px #888888;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.template {
    display:none;
}

#event-details-container{
    background-color: hsl(0deg,0%,96%);
    min-width: 85vw;
    overflow:scroll;
}


.title {
    font-size: 1.5rem;
    font-weight: 500;
}

#card-size {
    height: 420px;
    box-sizing: border-box;

}

.title-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#map-container {
    width: 400px;
    height: 300px;
    border-radius: 3px;
    border: 1px solid #222222;
}

#events-container{
    margin-bottom: 80px;
}

.pinned-container{
    background-color: #ffdd57;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    min-height: 150px;


}
.pinned-container > div.label{
    text-align: center;
    background-color: hsla(0, 0%,30%, 80%);
    border-radius: 7px;
    font-weight: bold;
    color: whitesmoke;
}

.pinned-container .event-title{
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;

}

.favourites-wrapper{
    background-color: white;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    z-index: 0;
    padding: 1.2rem;
    overflow:scroll;
    height: 410px;
    width:100%;
}

.favourite a.title {
    cursor: pointer;
    font-size: medium;
    color: #5d2701;

}


.error-message{
    margin-top:3rem;
}

#no-favourites{
    font-weight: bold;
    color: darkred;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width:769px){
    .favourites-wrapper, #search-form{
        margin: 0.5rem;
        margin-top: 1rem;
    }
}
@media screen and (min-width:769px){
    .favourites-wrapper, #search-form{
        margin: 1rem;
        margin-top: 2rem;
    }
}