#bg-image {
    background-image: url('firework.jpg');
    min-height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(2px);
    z-index: -1;
}     

label {
    font-size: 24px;

}
#form {
    margin-top: 100px;
    margin-right: 100px;
}  

#form {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    z-index: 0;
    border-radius: 10px;

}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    box-shadow: 6px 6px #888888;
}

.template {
    display:none;
}

#event-details-container{
    background-color: hsl(0deg,0%,96%);
}

#map-container {
    width: 400px;
    height: 300px;
    border-radius: 3px;
    border: 1px solid #222222;
}

.toggle-favourite.saved{
    filter: invert(100%);
}