#bg-image {
    background-image: url('firework.jpg');
    min-height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(2px);
}     

label {
    font-size: 24px;

}

.column {
    margin-top: 100px;
    margin-right: 100px;
}  

#form {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    z-index: 0;
    border-radius: 2px;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}
